<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>See all of your foods here</title>

    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">

    <!-- Add your custom CSS file -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div class="container mt-5">
        <h1>Feast your eyes upon your food!</h1>
        <p>View all foods that you've added here. Select foods and click the "Get Recipe" button at the bottom of the page to get a recipe featuring those ingredients courtesy of ChatGPT.</p>

        <form action="/getRecipe" method="POST">

            <% for (let i=0; i < fridge.length; i++) { const foods=fridge[i].foods %>
                <div class="row mb-3">
                    <div class="col">
                        <img src="<%= fridge[i].detectedFoodsWithBoxes %>" class="img-fluid">
                    </div>
                </div>

                <% for (let f=0; f < foods.length; f++) { %>
                    <div class="row mb-3">
                        <div class="col-auto">
                            <input type="checkbox" name="ingredient" value="<%= foods[f].name %>">
                        </div>
                        <div class="col">
                            <span><%= foods[f].name %></span>
                        </div>
                        <div class="col">
                            <span>Purchased on: <%= foods[f].purchaseDate.toDateString() %></span>
                        </div>
                    </div>
                <% } %>

            <% } %>

            <div class="row mt-3">
                <div class="col">
                    <button id="getRecipeBtn" type="submit" class="btn btn-primary">Get Recipe</button>
                </div>
            </div>

        </form>
        <h2></h2>
        <p>Looking to add more foods? Click <a href="/main">here</a> to submit an image. Or click <a href="/manualFood">here</a> to manually log other foods.</p>
    </div>

    <!-- Add Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

    <script src="js/allFoods.js"></script>

</body>

</html>
