<!doctype html>
<html>

<head>
    <title>Produce Savior</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style-main.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light py-3 fixed-top" style="background-color: #F4F3E7;">
        <div class="container">
            <a href="/main" class="navbar-brand">Produce Savior</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="/allFoods" class="nav-link">All Foods</a>
                    </li>
                    <li class="nav-item">
                        <a href="/manualFood" class="nav-link">Manual Add</a>
                    </li>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <section class="overlay hero text-light mt-5 p-5 text-center pt-5">
        <h1 class="title">PRODUCE SAVIOR</h1>
    </section>

    <section class="p-5 text-left pt-5" style="background-color: #F4F3E7;">
        <div class="container">
            <h2 class="text-center mb-4 subtitle">Save Your Food</h2>
            <p class="text-center">Submit a photo of your food and have Microsoft Azure do the work of marking down the items for
                you!</p>
            <p class="text-center">Some images are better than others. Follow these tips to get the best results:</p>
            <div class="container text-center">
                <ul class="photoGuidelines">
                    <li>1. Remove all food from its packaging. This includes things like nets, rubber bands, and strings.</li>
                    <li>2. Don't overcrowd images! Try to space items out.</li>
                    <li>3. Submit photos that are well-lit. If there are shadows cast in your photo, the AI may not be able to
                        detect the food.</li>
                </ul>
            </div>
            <% if (user.local.email) { %>
                <form class="text-center" action="/food" method="POST" enctype="multipart/form-data">
                    <input type="file" class="imgInput" name="groceries">
                    <button class="foodAddSubmit btn btn-light" type="submit">Submit</button>
                </form>


                <% } %>
        </div>
    </section>

    <script src="https://kit.fontawesome.com/e9f7511864.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- <script src="/js/main.js"></script> -->
    <script src="/js/main-CRUD.js"></script>

</body>

</html>