<!doctype html>
<html>

<head>
    <title>Produce Savior</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">

        <div class="page-header text-center">
            <h1>Never forget about your produce again!</h1>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <ul class="foods">
                    <% for(let i = 0; i <foods.length; i++) {%>
                        <li data-nameId="<%= foods[i]._id %>" class="foods">
                            <span>
                                <%= foods[i].name %>
                            </span>
                            <span>
                                <%= foods[i].quantity %>
                            </span>
                            <span><i class="fa-solid fa-trash"
                                    aria-hidden="true"></i></span>
                            <span><i class="fa-solid fa-arrow-up-long"></i></span>
                            <span><i class="fa-solid fa-arrow-down"></i></span>

                        </li>
                        <% } %>
                </ul>

                <h2>Submit a photo of your food and have Microsoft Azure do the work of marking down the items for you!</h2>
                <% if (user.local.email) { %>
                    <form action="/food" method="POST" enctype="multipart/form-data">
                        <input type="file" class="imgInput" name="groceries">
                        <button class="foodAddSubmit" type="submit">Submit</button>
                    </form>
            </div>
        </div>
        <% } %>
        <p>Or you can manually add food to your fridge <a href="/manualFood">here.</a></p>
        <p>Want to see all the food you currently have on hand? Click <a href="/allFoods">here.</a></p>
    </div>

    <script src="https://kit.fontawesome.com/e9f7511864.js" crossorigin="anonymous"></script>
    <!-- <script src="/js/main.js"></script> -->
    <script src="/js/main-CRUD.js"></script>
    

</body>

</html>