<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat GPT Recipe</title>
</head>
<body>
    <h1>LET 'EM COOK</h1>
    <p>Here's a recipe suggestion based on the ingredients you selected. Please note that the AI takes some creative liberties and may include a few extra ingredients if what you have on hand isn't enough.</p>
    <pre><%= recipe %></pre>
</body>
</html>