table input{
    background: transparent;
    border: none
}

table {
    border-spacing: 0px;
    border: none;
}

tr, th, td {
    border: 1px black;
    border-style: double;

}

.uploadedGroceryHaulImage {
    height: 300px;
    display: block;
    margin: auto;
}