body {
    background-color: #F4F3E7;
}

tbody tr:nth-child(2n) {
    background-color: #D8E5D6;
}

table input {
    background: transparent;
    border: none
}

table {
    border-spacing: 0px;
    border: none;
}

tr,
th,
td {
    border: 1px black;
    border-style: double;

}

.tableHeader {
    background: #E8DCC6;
}